.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search{
  display: inline-flex;
  align-content: center;
  padding: 2%;
}
.search,h3{
  font-size: 25px;
  align-self: center;
}
.search,input{
  margin-left: 7%;
  width: 700px;
  height:33px;
  font-size: 15px;
}
.image{
  width:220px;
  height: 130px;
  cursor: pointer;
}
.items{
  flex-direction: column;
  padding: 2%;
  max-width: 250px;
}
 .title{
   font-size: 15px;
   cursor: pointer;
 }
 .video{
   padding: 2%;
   width:900px;
 }

 